[Bb]in/
[Oo]bj/
*.dll
*.exe
*.user
*.suo
*.userosscache
*.sln.docstates
mono_crash.*
Thumbs.db
ehthumbs.db
.vscode/
.idea/
*.dotCover
*.log
*.pdb
*.cache
*.mdb
*.nupkg
*.snupkg
packages/
project.lock.json
project.fragment.lock.json
*.db
*.db-shm
*.db-wal
*.bak
_ReSharper*/
*.vspscc
*.vssscc
.vs/
*.env
appsettings.*.json
secrets.json